services:
  php-lowest:
    build: 'docker/php-lowest'
    environment:
      UID:
      GID:
      XDEBUG_MODE: 'develop,debug'
      XDEBUG_CONFIG: 'client_host=172.17.0.1'
      XDEBUG_TRIGGER: 'yes'
      DBGP_IDEKEY: 'apifony'
      COMPOSER_HOME: '/usr/src/apifony/composer-cache'
    working_dir: '/usr/src/apifony'
    volumes:
      - '.:/usr/src/apifony:delegated'
  php-highest:
    build: 'docker/php-highest'
    environment:
      UID:
      GID:
      XDEBUG_MODE: 'develop,debug'
      XDEBUG_CONFIG: 'client_host=172.17.0.1'
      XDEBUG_TRIGGER: 'yes'
      DBGP_IDEKEY: 'apifony'
      COMPOSER_HOME: '/usr/src/apifony/composer-cache'
    working_dir: '/usr/src/apifony'
    volumes:
      - '.:/usr/src/apifony:delegated'
