parameters:
    level: max
    paths:
        - tests/bundle
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - 'RuntimeException'
            - 'LogicException'
            - 'Error'
includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon