parameters:
    level: max
    paths:
        #- openapi/invoicing/bundle/src
        - src/Command/OpenApi
        - src/Command/Bundle
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - 'RuntimeException'
            - 'LogicException'
            - 'Error'
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
        consoleApplicationLoader: tests/console-application.php
includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon